<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load notifications_tags %}

{% get_current_language as language_code %}
<html lang="{{ language_code }}">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <title>Free transfer</title>

        <link rel="icon" href="{% static 'logonoalpha.png' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    </head>
    <body>

        <div class="copied_tooltip">Copied!</div>
                <div class="container-fluid mt-3" style="position:relative;height:100%;padding:0;overflow-x:hidden;overflow-y:hidden;" >
                    <div class="background_image" style="background-attachment: fixed;position:absolute;z-index:-2;background-image: url('{% static 'background_space3.jpg' %}');background-position:center;background-repeat:no-repeat;background-size: cover;height:100%;width:100%;"></div>
                    <a href="/" style="z-index: 2;position:absolute;left:18px;top:18px;box-shadow: 0 0 50px 0 rgba(0,0,0,1),0 20px 80px 0 rgba(0,0,0,1);">
                        <img style="width:35px;" src="{% static 'logo.png' %}" alt="Logo">
                    </a>
                    <div style="opacity:0.94;background:rgba(0,0,0,0);position:absolute;top:18px;right:18px;padding:0;z-index:2;height:38px;width:220px;">
                        {% if request.user.is_authenticated %}<button class="toggle_friends" style="border-right: 1px solid #d4d7d9;border-left: 1px solid #d4d7d9;border-top: 1px solid #d4d7d9;border-bottom: 1px solid #d4d7d9;border:0;position:absolute;height:38px;width:38px;border-radius:19px;"><img style="height:14px;width:22px;" src="{% static 'friends_icon.png' %}" alt=""></button>{% endif %}
                        <div style="overflow:hidden;border-radius:8px;display:inline-block;float:right;">

                        {% if request.user.is_authenticated %}<button onclick="location.href='{% url 'accounts:log_out' %}'" type="button" class="top_menu_btn"><a>Log out</a></button><button  onclick="location.href='{% url 'accounts:profile' username=request.user.username %}'" type="button" class="top_menu_btn"><a>Profile</a></button>{% else %}<button  onclick="location.href='{% url 'accounts:sign_up' %}'" type="button" class="top_menu_btn"><a>Sign up</a></button><button  onclick="location.href='{% url 'accounts:log_in' %}'" type="button"  class="top_menu_btn"><a>Log in</a></button>{% endif %}
                        </div>
                    </div>
                    <div class="social_tab" style="overflow-y:auto;transition: margin 700ms;margin-right:-418px;position:absolute;z-index:3;top:72px;right:18px;width:400px;background:rgba(255,255,255,0.94);border-radius:8px;">
                        <!-- Friend request list header -->
                        <div class="friend_requests_list"  style="height:45px;position:relative;margin-top:5px;">
                            <a style="position: absolute;top: 50%;transform: translate(0,-50%);margin-left:15px;" class="sidebar-link sidebar_margin" href="#pageSubmenu" id='friend_request_count' data-toggle="collapse" aria-expanded="false">Friend Requests ({{ friend_request_users|length }})<img style="display:inline-block;width:7px;height:7px;margin-left:6px;" src="{% static 'triangle_indicator.png' %}" alt=""></a>
                        </div>

                        <!-- Friend request list -->
                        <div class="friend_requests_list">
                            <ul style="border-bottom: 1px solid #7d7d7d;" class="collapse list-unstyled live_friend_request_list" id="pageSubmenu"></ul>

                            <template id = 'template_friend_request'>
                                <li class="small_space_down sidebar_padding selectable-notification accept_friend_button" style="padding-top:4px;padding-bottom:4px;white-space: nowrap;border-top: 1px solid #7d7d7d;" username_req="">
                                    <img class="profile_img_req inline"  src="" alt="Profile Image">
                                    <div class="inline" style="width:auto;position: relative;">
                                        <span style="margin: 0;position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                            <a class="username_link inline" href="" style="white-space: pre;">Username</a><span class="request_verb inline"></span>
                                            <div>Transfer request</div>
                                        </span>
                                    </div>
                                    <button class="close_friend_request" style="opacity:0.8;background:rgba(0,0,0,0);border:0;padding:0;margin:0;float:right;width:24px;height:24px;margin-top:10px;margin-right:10px;">
                                        <img style="width:20px;height:20px" src="{% static 'x_btn.png' %}" alt="">
                                    </button>
                                </li>
                            </template>
                        </div>

                        <!-- Notification list header -->
                        <div class = "notification_header" style="height:45px;position:relative">
                            <a style="margin-top:0px;margin-bottom:0px;margin-left:15px; position: absolute;top: 50%;transform: translate(0,-50%);" class="inline sidebar_margin"  id="notification_count" href="#requestList" data-toggle="collapse" >Notifications (0)<img style="display:inline-block;width:7px;height:7px;margin-left:6px;" src="{% static 'triangle_indicator.png' %}" alt=""></a>
                            <button style="color:black;  position: absolute;right: 1em;top: 50%;transform: translate(0,-50%);display:none!important;" class="inline clear_btn">Clear</button>
                        </div>

                        <!-- Notification list -->
                        <div class="notification_list">
                            <ul style="border-bottom: 1px solid #7d7d7d;" class="list-unstyled collapse list-group live_notify_list no-margin" id = "requestList"></ul>

                            <template id = 'template_notification'>
                                <li class="small_space_down sidebar_padding selectable-notification accept_transfer_button" style="padding-top:4px;padding-bottom:4px;white-space: nowrap;border-top: 1px solid #7d7d7d;" username_req="">
                                    <img class="profile_img_req inline"  src="" alt="Profile Image">
                                    <div class="inline" style="width:auto;position: relative;">
                                        <span style="margin: 0;position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                            <a class="username_link inline" href="" style="white-space: pre;">Username</a><span class="notification_verb inline"></span>
                                            <div>10h ago</div>
                                        </span>
                                    </div>
                                    <button class="close_notification" style="opacity:0.8;background:rgba(0,0,0,0);border:0;padding:0;margin:0;float:right;width:24px;height:24px;margin-top:10px;margin-right:10px;">
                                        <img style="width:20px;height:20px" src="{% static 'x_btn.png' %}" alt="">
                                    </button>
                                </li>
                            </template>
                        </div>

                        <!-- Friend list header -->
                        <div style="height:70px;position:relative" class="sidebar-header">
                            <h5 style="margin-top:0px;margin-bottom:0px;margin-left:15px;position: absolute;top: 50%;transform: translate(0,-50%);font-weight:400;" class="inline" id="friend_count">Friend List ({{ friends|length }})</h5>
                            <button style="padding:7px;padding-left:9px;background:#dcdcdc;padding-right:9px;border-radius:5px;position: absolute;right: 1em;top: 50%;transform: translate(0,-50%);font-size:1em;border-right: 1px solid #d4d7d9;border-left: 1px solid #d4d7d9;border-top: 1px solid #d4d7d9; border-bottom: 1px solid #d4d7d9;">
                                <a class="inline" href="{% url 'accounts:search' %}">Search users</a>
                            </button>
                        </div>

                        <!-- Friend list serach bar-->
                        <div class="sidebar_margin sidebar_searchbar" style="margin-left:15px;">
                            <input class="form-control" id="listSearch" type="text" placeholder="Search friend...">
                        </div>

                        <!-- Friend list -->
                        <ul class="list-unstyled list-group sidebar_margin" style="margin-left:15px;" id = "friendList">
                            {% for friend in friends %}
                                <li class="dropdown small_space_down set_username_friend" style="margin-top:4px;" username_friend="{{ friend.username }}">
                                    <img class="profile_img_friend"  src="{{friend.profileimage.image.url}}" alt="Profile Image">
                                    <a class="friend_username dropdown-item inline set_text_content" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ friend.username }}
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item set_profile_href" href="{% url 'accounts:profile' friend.username %}">View profile</a>
                                        <a class="dropdown-item set_start_session_href" href="{% url 'transfers:start_session_user' friend.username %}">Send files...</a>
                                        <button style="border:0;background:inherit;margin:0;padding-left:10px;" username_value = "{{friend.username}}" class="set username_value dropdown-item remove_friend_btn">Remove Friend</button>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <template id="templateFriend">
                            <li class="dropdown small_space_down set_username_friend" style="margin-top:4px;" username_friend="">
                                <img class="profile_img_friend"  src="" alt="Profile Image">
                                <a class="friend_username dropdown-toggle inline set_text_content" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item set_profile_href" href="">View profile</a>
                                    <a class="dropdown-item set_start_session_href" href="">Send files...</a>
                                    <button style="border:0;background:inherit;margin:0;padding-left:10px;" username_value = "" class="set_username_value dropdown-item remove_friend_btn">Remove Friend</button>
                                </div>
                            </li>
                        </template>

                    </div>
                    <div id='particles-js' style="position:absolute;width:100%;height:100%;z-index:0;"></div>
                    {% bootstrap_messages %}

                    {% block content  %}
                        No content.
                    {% endblock %}

                </div>
        <!-- Footer -->
        <footer style="background:#e6e6e6" class="page-footer font-small teal pt-4" style="z-index:4;padding-top:10px;">

          <!-- Footer Text -->
          <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">About</h5>
                <p style="color:#363636;padding:15px;">This website can be used by anyone to transfer data from person to person or from device to device. The file transfers are peer-to-peer, which means your data won't be stored on a server at any point, the data goes straight from a device to another. In order to connect with your partner for the file transfer you can use a download link, or you can create an account, add a friend, and send them a file transfer request.</p>

              </div>
              <!-- Grid column -->


              <!-- Grid column -->
              <div class="col-md-6 mb-md-0 mb-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">Despre</h5>
                <p style="color:#363636;padding:15px;">Acest site poate fi folosit de oricine pentru a transfera date de la persoana la persoana sau de la device la device. Transferurile de date sunt peer-to-peer, ceea ce inseamna ca datele tale nu vor fi stocate pe un server deloc pe parcursul transferului, datele mergand direct de la un device la altul. Pentru a face un transfer de date cu partenerul tau poti folosi un link de descarcare, sau iti poti creea un cont, dupa care iti adaugi partenerul la prieteni si le trimiti o cerere de transfer.</p>

              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Text -->

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">GitHub:
            <a style="padding-bottom:7px;color:#056d63!important;text-decoration:underline" href="https://github.com/filipang/transfer-app">https://github.com/filipang/transfer-app</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->


        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>window.csrf_token = '{{ csrf_token }}';/*window.friends = {{ friends }}*/</script>
        <script src="{% static 'js/particles.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>


        {% if request.user.is_authenticated %}
            {% register_notify_callbacks callbacks='fill_notifications, fill_friend_requests, fill_notification_badge' %}
        {% endif %}
    </body>
</html>
