<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load i18n %}
{% load notifications_tags %}

{% get_current_language as language_code %}
<html lang="{{ language_code }}">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <title>Free transfer</title>

        <link rel="icon" href="{% static 'logo.png' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <div class="wrapper">

            <!-- Side bar -->
            <nav id="sidebar" class = "active">
                <!-- Friend request list header -->
                <div class="friend_requests_list"  style="height:45px;position:relative">
                    <a style="position: absolute;top: 50%;transform: translate(0,-50%);" class="sidebar-link sidebar_margin" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Friend Requests ({{ friend_request_users|length }})</a>
                </div>

                <!-- Friend request list -->
                <div class="friend_requests_list">
                    <ul class="collapse list-unstyled live_friend_request_list" id="pageSubmenu"></ul>

                    <template id = 'template_friend_request'>
                        <li class="small_space_down sidebar_padding selectable-notification accept_friend_button" style="white-space: nowrap;border-bottom: 1px solid #94701b;" username_req="">
                            <img class="profile_img_req inline"  src="" alt="Profile Image">
                            <div class="inline" style="width:auto;position: relative;">
                                <span style="margin: 0;position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                    <a class="username_link inline" href="" style="white-space: pre;">Username</a><span class="request_verb inline"></span>
                                    <div>10h ago</div>
                                </span>
                            </div>
                        </li>
                    </template>
                </div>

                <!-- Notification list header -->
                <div class = "notification_header" style="height:45px;position:relative">
                    <a style="margin-top:0px;margin-bottom:0px; position: absolute;top: 50%;transform: translate(0,-50%);" class="inline sidebar_margin"  href="#requestList" data-toggle="collapse" >Notifications ({% live_notify_badge %})</a>
                    <button style="color:black;  position: absolute;right: 1em;top: 50%;transform: translate(0,-50%);display:none!important;" class="inline clear_btn">Clear</button>
                </div>

                <!-- Notification list -->
                <div class="notification_list">
                    <ul class="list-unstyled collapse list-group live_notify_list no-margin" id = "requestList"></ul>

                    <template id = 'template_notification'>
                        <li class="small_space_down sidebar_padding selectable-notification accept_transfer_button" style="white-space: nowrap;border-bottom: 1px solid #94701b;" username_req="">
                            <img class="profile_img_req inline"  src="" alt="Profile Image">
                            <div class="inline" style="width:auto;position: relative;">
                                <span style="margin: 0;position: absolute; top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                                    <a class="username_link inline" href="" style="white-space: pre;">Username</a><span class="notification_verb inline"></span>
                                    <div>10h ago</div>
                                </span>
                            </div>
                        </li>
                    </template>
                </div>

                <!-- Friend list header -->
                <div style="height:70px;position:relative" class="sidebar-header">
                    <h5 style="margin-top:0px;margin-bottom:0px; position: absolute;top: 50%;transform: translate(0,-50%);" class="inline">Friend list ({{ friends|length }})</h5>
                    <a style="position: absolute;right: 1em;top: 50%;transform: translate(0,-50%);font-size:1em;" class="inline" href="{% url 'accounts:search' %}">Search users...</a>
                </div>

                <!-- Friend list serach bar-->
                <div class="sidebar_margin sidebar_searchbar">
                    <input class="form-control" id="listSearch" type="text" placeholder="Search friend...">
                </div>

                <!-- Friend list -->
                <ul class="list-unstyled list-group sidebar_margin" id = "friendList">
                    {% for friend in friends %}
                        <li class="dropdown small_space_down" username_friend="{{ friend.username }}">
                            <img class="profile_img_friend"  src="{{friend.profileimage.image.url}}" alt="Profile Image">
                            <a class="dropdown-toggle inline" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ friend.username }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'accounts:profile' friend.username %}">View profile</a>
                                <a class="dropdown-item" href="{% url 'transfers:live_transfer' friend.username %}">Send files...</a>
                                <a username_value = "{{friend.username}}" class="dropdown-item remove_friend_btn" href="">Remove Friend</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <!-- Page content without the sidebar -->
            <!-- This moves to the right when the sidebar is activated -->

            <div id="content" class = "active">
                {% endif %}
                <!-- Top navigation bar -->
                <!--
                <nav class="navbar navbar-default bg-primary">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <img class="navbar-brand bg-secondary nopadding margin5" src="{% static 'free-transfer-logo.png' %}">
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="navbar-text-style {% if request.resolver_match.url_name == 'upload' %} active {% endif %}"><a class="padding20" href="{% url 'transfers:upload' %}">Home<span class="sr-only">(current)</span></a></li>
                                <li class="navbar-text-style {% if request.resolver_match.url_name == 'live_transfer' or request.resolver_match.url_name == 'live_transfer_link' or request.resolver_match.url_name == 'live_transfer_download'  %} active {% endif %}"><a class="padding20" href="{% url 'transfers:start_session' %}">Live Transfer<span class="sr-only">(current)</span></a></li>
                                {% if request.user.is_authenticated %}
                                <li class="navbar-text-style {% if request.resolver_match.url_name == 'profile' %} active {% endif %}"><a class="padding20" href="{% url 'accounts:profile' request.user.get_username %}">My profile</a></li>
                                <li class="dropdown navbar-text-style">
                                    <a href="#" class="dropdown-toggle padding20 {% if request.resolver_match.url_name == 'change_password' or request.resolver_match.url_name == 'change_email' or request.resolver_match.url_name == 'change_profile' %} active {% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                                    <ul class="dropdown-menu bg-primary">
                                        <li><a href="{% url 'accounts:log_out' %}">Log out</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'accounts:change_email' %}">Change email</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'accounts:change_password' %}" >Change password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'accounts:change_profile' %}">Change profile details</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'accounts:change_image' %}">Change profile image</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown navbar-text-style">
                                    <a href="#" class="dropdown-toggle padding20" type="button" id="sidebarCollapse">Social({% live_notify_badge %})
                                        <i class="fas fa-align-left"></i>
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="navbar-text-style"><a class="padding20" href="{% url 'accounts:log_in' %}">Log in</a></li>
                                <li class="navbar-text-style"><a class="padding20" href="{% url 'accounts:sign_up' %}">Sign up</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
                !-->
                <div class="container-fluid mt-3" style="background-image: url('{% static 'background_space3.jpg' %}');background-position:center;background-repeat:no-repeat;background-size: cover;height:100%;position:relative;" >
                    <a href="/" style="z-index: 2;position:absolute;left:18px;top:18px;box-shadow: 0 0 50px 0 rgba(0,0,0,1),0 20px 80px 0 rgba(0,0,0,1);">
                        <img style="width:35px;" src="{% static 'logo.png' %}" alt="Logo">
                    </a>
                    <button class="top_menu_btn" style="position:absolute;top:18px;right:18px;width:90px;height:40px;font-size:20px;z-index:2;"><a href="live_transfer">Sign up</a></button>
                    <button class="top_menu_btn" style="position:absolute;top:18px;right:107px;width:90px;height:40px;font-size:20px;z-index:2;"><a href="live_transfer">Log in</a></button>
                    <div id='particles-js' style="position:absolute;width:100%;height:100%;"></div>
                    {% bootstrap_messages %}

                    {% block content  %}
                        No content.
                    {% endblock %}

                </div>
        {% if request.user.is_authenticated %}
            </div>
        </div>
        {% endif %}

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>window.csrf_token = '{{ csrf_token }}';/*window.friends = {{ friends }}*/</script>
        <script src="{% static 'js/particles.js' %}"  type="text/javascript"></script>
        <script src="{% static 'js/base.js' %}" type="text/javascript"></script>
        <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>


        {% if request.user.is_authenticated %}
            {% register_notify_callbacks callbacks='fill_notifications, fill_friend_requests, fill_notification_badge' %}
        {% endif %}
    </body>
</html>
