{% extends 'layouts/default/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}

    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        <h4 style="font-size: 25px; padding-bottom: 25px;">Profile</h4>
        <img class="profile_img"  src="{{request.user.profileimage.image.url}}" alt="Profile Image">
        <div class="inline" style="text-align: left;padding-left:20px">
            <p style="color:black; font-size: 25px">{{username}}</p>
            {% if username != request.user.username %}
                <button style="" {% if can_add %}id="addfriend_btn"{% endif %}>
                    {% if is_friend %}Friend{% else %}
                        {% if is_pending %}
                            Pending request...
                            {% else %}
                            Add friend
                        {% endif %}
                    {% endif %}
                </button>
            {% endif %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#addfriend_btn').on('click', function(){
                console.log('AAAAAAAAAAAAAAA');

                $.ajax({
                    type:'POST',
                    url:'/add_friend/' + '{{username}}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success:function(json){
                        $('#addfriend_btn').text('Pending request');

                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    },

                });
            });

        });
    </script>

{% endblock %}
