{% extends 'layouts/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class = 'background_card drag_effect' id = 'background_card' style="padding:60px;padding-top:130px;padding-left:40px;position:absolute;top:50%;left:50%px;width:500px;z-index:2;background:#e3e3e3;">
            <img class="profile_img" style="box-shadow: 0 0 20px 0 rgba(0,0,0,0.5),0 20px 30px 0 rgba(0,0,0,0.5);" src="{{user.profileimage.image.url}}" alt="Profile Image">
            <div class="inline" style="text-align: left;padding-left:30px">
                <p style="color:black; font-size: 25px">{{username}}</p>
                {% if username != request.user.username %}
                    <button style="" {% if can_add %} id="addfriend_btn" {% endif %}>
                        {% if is_friend %}Friend{% else %}
                            {% if is_pending %}
                                Pending request...
                                {% else %}
                                Add friend
                            {% endif %}
                        {% endif %}
                    </button>
                {% else %}
                    <button style="" {% if can_add %} id="edit_btn" {% endif %}>
                        {% if is_friend %}Friend{% else %}
                            {% if is_pending %}
                                Pending request...
                                {% else %}
                                Add friend
                            {% endif %}
                        {% endif %}
                    </button>
                {% endif %}
            </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#addfriend_btn').on('click', function(){
                console.log('AAAAAAAAAAAAAAA');

                $.ajax({
                    type:'POST',
                    url:'/add_friend/' + '{{username}}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success:function(json){
                        $('#addfriend_btn').text('Pending request');

                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    },

                });
            });

        });
    </script>

{% endblock %}
