{% extends 'layouts/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class = 'background_card drag_effect' id = 'background_card' style="padding:60px;position:absolute;top:50%;left:50%px;width:500px;z-index:2;background:#e3e3e3;">
            <p style="color:#0d1d59; font-size: 25px;font-weight:500;">{{username}}</p>
            <img class="profile_img" style="position:absolute;top:50%;left:50%;margin-top:-100px;margin-left:-100px;box-shadow: 0 0 20px 0 rgba(0,0,0,0.5),0 10px 30px 0 rgba(0,0,0,0.5);" src="{{user.profileimage.image.url}}" alt="Profile Image">
            <div class="inline" style="text-align: center;">
                {% if username != request.user.username %}
                    <button style="margin-top:290px;" {% if can_add %} id="addfriend_btn" {% endif %}>
                        {% if is_friend %}Friend{% else %}
                            {% if is_pending %}
                                Pending request...
                                {% else %}
                                Add friend
                            {% endif %}
                        {% endif %}
                    </button>
                {% else %}
                    <div class="dropdown" aria-labelledby="dropdownMenuLink">
                        <button style="margin-top:290px;" id="edit_btn" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" class="dropdown-item">
                            Edit profile
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:change_image' %}">Change profile image</a>
                            <a class="dropdown-item" href="{% url 'accounts:change_email' %}">Change email</a>
                            <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change password</a>
                        </div>
                    </div>
                {% endif %}
            </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#addfriend_btn').on('click', function(){
                console.log('AAAAAAAAAAAAAAA');

                $.ajax({
                    type:'POST',
                    url:'/add_friend/' + '{{username}}',
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success:function(json){
                        $('#addfriend_btn').text('Pending request');

                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    },

                });
            });

        });
    </script>

{% endblock %}
