{% extends 'layouts/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <div class = 'background_card drag_effect' id = 'background_card' style="padding:70px;padding-top:60px;position:absolute;top:50%;left:50%px;width:500px;z-index:2;background:#e3e3e3;">
        <h4>{% trans 'Change password' %}</h4>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success" style="background:#056d63;">{% trans 'Confirm' %}</button>

        </form>
    </div>
{% endblock %}
