{% extends 'layouts/default/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% block content %}


    <style>

      iframe{
        width:100%;
        margin-bottom:15px;
      }

      p{
        color:black!important;
      }

      a[download]{
        color:blue!important;
        font-size:20px;
      }

    </style>

    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        <h1>Download your files</h1>
        <form>
        <label class="hidden" for="torrentId">Download from a magnet link: </label>
        <input class="hidden" name="torrentId", placeholder="magnet:" value="{{magnet}}">
        <button type="submit">Download</button>
    </form>

      <h2>Log:</h2>
      <div class="log1" style="text-align: left!important; color: black!important"></div>
      <div class="log2" style="text-align: left!important; color: black!important"></div>
    </div>
    <!-- Include the latest version of WebTorrent -->
    <script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>

    <script>
        async function sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
              break;
            }
          }
        }


      var client = new WebTorrent()

      client.on('error', function (err) {
        console.error('ERROR: ' + err.message)
      })

      document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault() // Prevent page refresh

        var torrentId = document.querySelector('form input[name=torrentId]').value
        client.add(torrentId, onTorrent)
      })

      function onTorrent (torrent) {
        log('<p style="color:black;font-weight:700">Starting download...</p>')

        // Print out progress every 5 seconds
        var interval = setInterval(function () {
          log('<p style="color:black;font-weight:700"> Progress: ' + (torrent.progress * 100).toFixed(1) + '% ('+(Math.round((client.downloadSpeed/1024) * 100) / 100).toFixed(2) +' KB/s)' + '</p>')
        }, 3000)

        torrent.on('done', async function () {
          await log('<p style="color:black;font-weight:700">Progress: 100%</p>')
          await clearInterval(interval)
          for await (const file of torrent.files) {
            await file.appendTo('.log2')
            await sleep(10)
            var x = await file.getBlobURL(y = async function (err, url) {
              if (err) return await log(err.message)
              var a = await log('<a style="font-weight:500" download href="' + url + '"> Download file: ' + file.name + '</a>')
              await sleep(10)
              return 0
            })

           }

        })
      }

      async function log (str) {
        var p = await document.createElement('p')
        p.innerHTML = str
        var l = await document.querySelector('.log1').appendChild(p)
      }
    </script>

{% endblock %}
