{% extends 'layouts/default/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        Proiectul meu este un website care poate fi folosit de oricine pentru a transfera date fie de la o persoana la alta, fie de la un device la alt device. Site-ul este similar bine cunoscutului WeTransfer, dar cu optiunea de a transfera datele direct de la un device la altul fara ca acestea sa fie pastrate pe un server.
    </div>
    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        This website can be used by anyone to transfer data from person to person or from device to device. The file transfers are peer-to-peer, which means your data won't be stored on a server at any point, the data goes straight from a device to another. In order to connect with your partner for the file transfer you can use a download link, or you can create an account, add a friend, and send them a file transfer request.
    </div>
{% endblock %}
