{% extends 'layouts/default/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        <h2>Română</h2>
        Acest site poate fi folosit de oricine pentru a transfera date de la persoana la persoana sau de la device la device. Transferurile de date sunt peer-to-peer, ceea ce inseamna ca datele tale nu vor fi stocate pe un server deloc pe parcursul transferului, datele mergand direct de la un device la altul. Pentru a face un transfer de date cu partenerul tau poti folosi un link de descarcare, sau iti poti creea un cont, dupa care iti adaugi partenerul la prieteni si le trimiti o cerere de transfer.
        <h2>English</h2>
        This website can be used by anyone to transfer data from person to person or from device to device. The file transfers are peer-to-peer, which means your data won't be stored on a server at any point, the data goes straight from a device to another. In order to connect with your partner for the file transfer you can use a download link, or you can create an account, add a friend, and send them a file transfer request.
    </div>
{% endblock %}
