{% extends 'layouts/base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}


    <div style="margin: 0 auto; width: 1000px;text-align: center;">
        <h2>Română</h2>
        Acest site poate fi folosit de oricine pentru a transfera date de la persoana la persoana sau de la device la device. Transferurile de date sunt peer-to-peer, ceea ce inseamna ca datele tale nu vor fi stocate pe un server deloc pe parcursul transferului, datele mergand direct de la un device la altul. Pentru a face un transfer de date cu partenerul tau poti folosi un link de descarcare, sau iti poti creea un cont, dupa care iti adaugi partenerul la prieteni si le trimiti o cerere de transfer.
        <h2>English</h2>
        This website can be used by anyone to transfer data from person to person or from device to device. The file transfers are peer-to-peer, which means your data won't be stored on a server at any point, the data goes straight from a device to another. In order to connect with your partner for the file transfer you can use a download link, or you can create an account, add a friend, and send them a file transfer request.
        <h2>Deutsche</h2>
        Diese Webseite kann von jedem benutzt werden, um Dateien von Benutzer zu Benutzer oder Gerät zu Gerät zu übertragen. Die Dateientransfere erfolgen "Peer-to-Peer", was bedeutet, dass Ihre Dateien zu keinem Zeitpunkt auf einem Server gespeichert werden, sondern auf direktem Weg von Gerät zu Gerät übertragen werden. Sie können für den Dateientransfer einen Download-Link benutzen, um mit Ihrem Partner eine Verbindung zu erreichen. Sie können auch ein Konto erstellen und einen Freund hinzufügen, um ihm einen Antrag für einen Dateientransfer zu übermitteln.
        <h2>Español</h2>
        Cualquiera puede utilizar este sitio web para transferir datos de una persona a otra o de un dispositivo a otro. Las transferencias de archivos son peer-to-peer, lo que significa que sus datos no se almacenarán en un servidor en ningún momento, los datos van directamente de un dispositivo a otro. Para conectarse con su socio para la transferencia de archivos, puede usar un enlace de descarga, o puede crear una cuenta, agregar un amigo y enviarles una solicitud de transferencia de archivos.
        <h2>中文(Chinese)</h2>
        任何人都可以使用该网站在一个人或另一个设备之间传输数据。文件传输是点对点的，这意味着您的数据在任何时候都不会存储在服务器上，数据会直接从一台设备传输到另一台设备。为了与您的伙伴进行文件传输，您可以使用下载链接，也可以创建一个帐户，添加一个朋友，然后向他们发送文件传输请求。
    </div>
{% endblock %}
