{% extends 'layouts/base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% block content %}

    <style>

      p{
        color:black;
      }

    </style>

    <div class = 'background_card drag_effect' id = 'background_card' style="background:#e3e3e3;">
        <h1 style="margin-top: 35px;">Add your files</h1>

        <!--
        <br>
        {%if request.user.is_authenticated %}
            {% if not is_link %}
             <div style="margin: 0 auto; width: 1000px;text-align: center;font-size:18px">
                Your peer will recieve a notification once you've dropped your files here.
            </div>
            {% else %}
            <div style="margin: 0 auto; width: 1000px;text-align: center;font-size:18px">
                You will recieve a notification once you've dropped your files here.
            </div>
            {% endif %}
        {% endif %}-->

        <label class="btn btn-default" style="font-size:23px;background:url('{% static 'plus_btn2.png' %}');background-size: contain;margin-top:25px;padding:0px;width:54px;height:54px;border:0px;opacity:0.75;">
            <input id="browse_field" type="file" multiple style="display:none!important;">
        </label>

        <h4 style="font-size:15px!important;margin-top:30px;">Transfer data across the galaxy, from one browser to another.</h4>

        <h4 style="font-size:16px!important;margin-top:30px;margin-bottom:5px;">Transfer files to {{username}} </h4>
        <div style="width:400px;height:3px;padding:0;background:#056d63;margin-right:auto;margin-left:auto;"></div>
        <div>
            <div class="progress" style="width:250px;height:12px;border-radius:6px;margin-left:85px;margin-top:20px;">
              <div id="progressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0;">
                  <img src="{% static 'progress_bar4.png' %}" alt="" style="width: 100%;height:100%;border-radius:6px;position:absolute;top:0px;left:0px;">
              </div>
            </div>
             <h4 id="status" style="font-size:16px!important;">33% Complete</h4>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/7.4.0/adapter.js"></script>
    <script src="https://bundle.run/drag-drop@6.0.0"></script>
    <script type="text/javascript">
        window.session_id = '{{ session_id }}';
        window.csrf_token = '{{ csrf_token }}';
        window.is_auth = '{{ request.user.is_authenticated }}';
        window.is_link = '{{ is_link }}';
        window.username = '{{ username }}';
    </script>
    <script src="{% static 'js/send_channel.js' %}" type="text/javascript"></script>

{% endblock %}
